{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} | Publications{% endblock %}
{% block page_title %}Publications{% endblock %}

{% block content %}

<h2>Computational modeling</h2>
<ul>
  <li><b class="emph">Karr JR</b>, Sanghvi JC, Macklin DN, Gutschow MV, Jacobs JM, Bolival B Jr, Assad-Garcia N, Glass JI &amp; Covert MW. A whole-cell computational model predicts phenotype from genotype. <i>Cell</i> 150, 389&ndash;401 (2012).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22817898"><i class="fi-link"></i></a>
  </li>
  <li>Covert MW, Xiao N, Chen TJ &amp; <b class="emph">Karr JR</b>. Integrating metabolic, transcriptional regulatory and signal transduction models in <i>Escherichia coli</i>. <i>Bioinformatics</i> 24, 2044&ndash;2050 (2008).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/18621757"><i class="fi-link"></i></a>
  </li>
</ul>

<h2>Genome engineering</h2>
<ul>
  <li><b class="emph">Lartigue C</b>, Vashee S, Algire MA, Chuang RY, Benders GA, Ma L, Noskov VN, Denisova EA, Gibson DG, Assad-Garcia N, Alperovich N, Thomas DW, Merryman C, Hutchison CA 3rd, Smith HO, Venter JC &amp; Glass JI. Creating bacterial strains from genomes that have been cloned and engineered in yeast. <i>Science</i> 325, 1693&ndash;1696 (2009).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19696314"><i class="fi-link"></i></a>
  </li>                                   
  <li><b class="emph">Lartigue C</b>, Glass JI, Alperovich N, Pieper R, Parmar PP, Hutchison CA 3rd, Smith HO &amp; Venter JC. Genome transplantation in bacteria: changing one species to another. <i>Science</i> 317, 632&ndash;638 (2007).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/17600181"><i class="fi-link"></i></a>
  </li>  
</ul>

<h2>Genomics</h2>
<ul>
  <li><b class="emph">Lluch-Senar M</b>, Delgado J, Chen WH, <b class="emph">Llor&eacute;ns-Rico V</b>, O'Reilly FJ, Wodke JA, Unal EB, Yus E, Mart&iacute;nez S, Nichols RJ, Ferrar T, Vivancos A, Schmeisky A, <b class="emph">St&uuml;lke J</b>, van Noort V, Gavin AC, Bork P &amp; <b class="emph">Serrano L</b>. Defining a minimal cell: essentiality of small ORFs and ncRNAs in a genome-reduced bacterium. <i>Mol Syst Biol</i> 11, 780 (2015).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/25609650"><i class="fi-link"></i></a>  
  </li>
  <li><b class="emph">Lluch-Senar M</b>, Luong K, <b class="emph">Llor&eacute;ns-Rico V</b>, Delgado J, Fang G, Spittle K, Clark TA, Schadt E, Turner SW, Korlach J &amp; <b class="emph">Serrano L</b>. Comprehensive methylome characterization of <i>Mycoplasma genitalium</i> and <i>Mycoplasma pneumoniae</i> at single-base resolution. <i>PLoS Genet</i> 9, e1003191 (2013).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/23300489"><i class="fi-link"></i></a>
  </li>                                            
  <li>Van Noort V, Seebacher J, Bader S, Mohammed S, Vonkova I, Betts MJ, K&uuml;hner S, Kumar R, Maier T, O'Flaherty M, Rybin V, Schmeisky A, Yus E, <b class="emph">St&uuml;lke J</b>, <b class="emph">Serrano L</b>, Russell RB, Heck AJ, Bork P &amp; Gavin AC. Cross-talk between phosphorylation and lysine acetylation in a genome-reduced bacterium. <i>Mol Syst Biol</i> 8, 571 (2012).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/22373819"><i class="fi-link"></i></a>
  </li>
  <li>G&uuml;ell M, van Noort V, Yus E, Chen WH, Leigh-Bell J, Michalodimitrakis K, Yamada T, Arumugam M, Doerks T, K&uuml;hner S, Rode M, Suyama M, Schmidt S, Gavin AC, Bork P &amp; <b class="emph">Serrano L</b>. Transcriptome complexity in a genome-reduced bacterium. <i>Science</i> 326, 1268&ndash;1271 (2009).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19965477"><i class="fi-link"></i></a>
  </li>  
  <li>Yus E, Maier T, Michalodimitrakis K, van Noort V, Yamada T, Chen WH, Wodke JA, G&uuml;ell M, Mart&iacute;nez S, Bourgeois R, K&uuml;hner S, Raineri E, Letunic I, Kalinina OV, Rode M, Herrmann R, Guti&eacute;rrez-Gallego R, Russell RB, Gavin AC, Bork P &amp; <b class="emph">Serrano L</b>. Impact of genome reduction on bacterial metabolism and its regulation. <i>Science</i> 326, 1263&ndash;1268 (2009).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19965476"><i class="fi-link"></i></a>
  </li>  
  <li>K&uuml;hner S, van Noort V, Betts MJ, Leo-Macias A, Batisse C, Rode M, Yamada T, Maier T, Bader S, Beltran-Alvarez P, Casta&ntilde;o Diez D, Chen WH, Devos D, G&uuml;ell M, Norambuena T, Racke I, Rybin V, Schmidt A, Yus E, Aebersold R, Herrmann R, B&ouml;ttcher B, Frangakis AS, Russell RB, <b class="emph">Serrano L</b>, Bork P &amp; Gavin AC. Proteome organization in a genome-reduced bacterium. <i>Science</i> 326, 1235&ndash;1240 (2009).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19965468"><i class="fi-link"></i></a>
  </li>
</ul>

<h2>Microbial pathogenesis</h2>
<ul>
  <li>Citti C &amp; <b class="emph">Blanchard A</b>. Mycoplasmas and their host: emerging and re-emerging minimal pathogens. <i>Trends Microbiol</i> 21, 196&ndash;203 (2013).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/23419218"><i class="fi-link"></i></a>
  </li>  
  <li>Gro&szlig;hennig S, Schmidl SR, Schmeisky G, Busse J &amp; <b class="emph">St&uuml;lke J</b>. Implication of glycerol and phospholipid transporters in <i>Mycoplasma pneumoniae</i> growth and virulence. <i>Infect Immun</i> 81, 896&ndash;904 (2013).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/23297388"><i class="fi-link"></i></a>
  </li>
  <li>Schmidl SR, Otto A, <b class="emph">Lluch-Senar M</b>, Pi&ntilde;ol J, Busse J, Becher D &amp; <b class="emph">St&uuml;lke J</b>. A trigger enzyme in <i>Mycoplasma pneumoniae</i>: impact of the glycerophosphodiesterase GlpQ on virulence and gene expression. <i>PLoS Pathog</i> 7, e1002263 (2011).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/21966272"><i class="fi-link"></i></a>
  </li>     
  <li>Hames C, Halbedel S, Hoppert M, Frey J &amp; <b class="emph">St&uuml;lke J</b>. Glycerol metabolism is important for cytotoxicity of <i>Mycoplasma pneumoniae</i>. <i>J Bacteriol</i> 191, 747&ndash;753 (2009).
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/19028882"><i class="fi-link"></i></a>
  </li>
</ul>  

{% endblock %}