{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} | Resources{% endblock %}
{% block page_title %}Resources{% endblock %}

{% block content %}

<div>
  <h2>MolliGen: Mollicutes comparative genomics database
    <a class="details" href="http://services.cbib.u-bordeaux.fr/molligen/"><i class="fi-link"></i></a>    
  </h2>
  
  <p>MolliGen is a database focused on Mollicutes comparative genomics. MolliGen provides annotated sequence data and analysis for 76 genomes belonging to 51 species. MolliGen provides genome and genetic element pages, homology relationship defined by various methods, pre-computed statistics, metabolic pathways, and a huge collection of tools for exploring and comparing genomes.</p>
</div>

<div>
  <h2><i>Mycoplasma pneumoniae</i> whole-cell model <span class="details">(Coming soon)</span> 
    <a class="details" href="http://github.com/CovertLab/WholeCell-Mpn"><i class="fi-link"></i></a>  
  </h2>
  
  <p>Whole-cell computational model of <i>M. pneumoniae</i> which represents 27 cellular pathways, accounts for every annotated gene function, and predicts the dynamics of every molecular species over the entire cell cycle. Provides all MATLAB simulation and simulation analysis code.</p>
</div>

<div>
  <h2>MyMpm: The <i>Mycoplasma pneumoniae</i> database
    <a class="details" href="http://mympn.crg.eu/"><i class="fi-link"></i></a>
  </h2>
  
  <p>MyMpn is a database of <i>Mycoplasma pneumoniae</i> experimental datasets. MyMpn includes gene expression, gene essentiality, protein abundance, protein complexes composition, metabolic flux, growth, and 3D tomography data.</p>
</div>

<div>
  <h2>MycoWiki: a comprehensive knowledge base for <i>Mycoplasma pneumoniae</i>
    <a class="details" href="http://mycowiki.uni-goettingen.de/"><i class="fi-link"></i></a>
  </h2>
  
  <p>MycoWiki is database of experimental knowledge about individual genes and proteins in <i>M. pneumoniae</i>. MycoWiki contains much of the same data contained in MyMpn, but provides a simpler user interface to browse and search the data.</p>
</div>

<div>
  <h2>WholeCellKB: <i>Mycoplasma pneumoniae</i> knowledge base <span class="details">(Coming soon)</span> 
  <a class="details" href="http://wholecell.org/mpn/kb"><i class="fi-link"></i></a>
  </h2>
  
  <p class="nobottomsep">WholeCellKB is a database of experimental knowledge of <i>M. pneumoniae</i> for building, calibrating, and validating models. WholeCellKB contains much of the same data contained in MycoWiki and MyMpn, but WholeCellKB focuses on experimental data that can be used for modeling and WholeCellKB is more structured to enable modeling. WholeCellKB includes the following data:</p>
  <ul class="notopsep">
    <li>Cellular chemical composition,</li>
    <li>Growth medium composition,</li>
    <li>Gene locations, lengths, and directions,</li>
    <li>Transcription unit organization and transcriptional regulation,</li>
    <li>Macromolecule composition,</li>
    <li>Reaction stoichiometry, kinetics, and catalysis, and</li>
    <li>Extensive links and cross-links to all references used to construct each model organism database.</li> 
  </ul>
</div>

{% endblock %}